/*--- HTML-sivu ---*/

body {
		background-color: #f9eced;
		display: flex;
		flex-wrap: wrap;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		overflow-x: hidden;
}

/* Text */
h1 {
		font-size: 100px;
}

h2 {
		text-align: center;
		background-image: linear-gradient(#8cc8bc, #f9eced);
		margin-bottom: 10px;
		font-family: 'Hedvig Letters Serif', serif;
}

h3 {
		font-size: 25px;
		font-family: 'Hedvig Letters Serif', serif;
}

p {
		text-align: justify;
		font-family: 'Roboto Condensed', sans-serif;
}

ul {
		list-style-type: none;
		padding-left: 60px;
		padding-right: 20px;
		float: left;
		font-family: 'Roboto Condensed', sans-serif;
}

ol {
		font-family: 'Roboto Condensed', sans-serif;
		text-align: justify;
}

a {
		font-family: 'Roboto Condensed', sans-serif;
}

li {
		margin-bottom: 20px;
}

/* Semantic Elements */
.header {
		background-color: #f2d1d3;
		margin-top: -10px;
		margin-bottom: -15px;
		padding-bottom: 0px;
		padding-top: 1px;
		width: 100%;
}

.header img {
		float: left;
}

.header h1 {
		position: relative;
		top: 18px;
		left: 10px;
		padding-bottom: 0px;
		padding-top: 0px;
		margin-top: 30px;
		font-family: 'Hedvig Letters Serif', serif;
}

nav {
		margin-top: 15px;
		padding-left: 60px;
		border-bottom: 5px solid #8cc8bc;
		border-top: 5px solid #8cc8bc;
		text-align: left;
		font-size: 20px;
		width: 100%;
}

main {
		width: 80%;
		margin-top: -20px;
}

footer {
		background-color: #f2d1d3;
		width: 100%;
		padding-left: 20px;
}

aside {
		background-color: #8cc8bc;
		width: 20%;
		float: right;
		text-align: center;
}

/* Fieldset */
fieldset {
		width: 50%;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
		border: 1px solid black;
		font-family: 'Roboto Condensed', sans-serif;
}

input {
		font-family: 'Roboto Condensed', sans-serif;
}

.fieldset-tekniikat {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 70px;
}

/* Buttons */
.button {
		box-shadow: 0px 2px 10px rgba(0,0,0,50%);
		display: inline-block;
		width: 70px;
		height: 20px;
		text-align: center;	
		font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {
		color: black; 
		background: #8cc8bc;
		font-family: 'Roboto Condensed', sans-serif;		
}

/* Images */
.article-image { 
		max-width: 100%;
		width: 100%;
		min-width: 150px;
		height: 200px;
}

.leivonta-image {
		max-width: 100%;
		width: 100%;
		min-width: 150px;
		height: 200px;
}

.pikkukuvat-img {
		width: auto;
		height: 200px;
		float: left;
		margin-top: 50px;
		padding-left: 20px;
}

/* Divs */
.tekniikat {
		width: 30%;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
}

.miksi-leivonta {
		margin-bottom: 50px;
		margin-top: 50px;
		padding-left: 60px;
		padding-right: 150px;
		text-align: center;	
}

.reseptit {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 70px;
		margin-top: 50px;
}

.leivonnaiset {
		background-color: #f2d1d3;
		max-width: 300px;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
		box-shadow: 5px 10px #ecbdc0;
}

.kaikkivinkit {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 65px;
}

.vinkit {
		max-width: 300px;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
}

.vinkit2 {
		max-width: 300px;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
}

.kaikkitarvikkeet {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
}

.tarvikkeet {
		max-width: 300px;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
}

.tarvikkeet2 {
		max-width: 300px;
		margin: 30px;
		padding: 15px;
		margin-bottom: 30px;
		border-radius: 20px;
}

.leivontakurssit {
		margin-bottom: 70px;
		margin-top: 50px;
		padding-left: 60px;
		padding-right: 150px;
}

.foorumi {
		margin-bottom: 70px;
		margin-top: 50px;
		padding-left: 60px;
		padding-right: 150px;
}

.container {
		display: flex;
		align-items: center;
		justify-content: center;
}


/* Media Query */
@media only screen and (max-width: 600px) {
		main {
			width: 100%;
			flex-direction: column;
		}
		aside {
			width: 100%; 
		}
		.header h1 {
			font-size: 80px;
		}
}

